@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :host,
  :host *,
  :host *::before,
  :host *::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
  }

  :host {
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  :host {
    --background: #f6f5ee;
    --foreground: #000000;
    --card: #fbf6e5;
    --card-foreground: #000000;
    --popover: #fbf6e5;
    --popover-foreground: #000000;
    --primary: #4c9f41;
    --primary-foreground: #ffffff;
    --secondary: #ffc43d;
    --secondary-foreground: #000000;
    --muted: #fbf6e5;
    --muted-foreground: #7a7a7a;
    --accent: #fbf6e5;
    --accent-foreground: #000000;
    --destructive: #f96f70;
    --destructive-foreground: #ffffff;
    --border: #000000;
    --input: #e4e4e4;
    --ring: #000000;
    --chart-1: #ffc63d;
    --chart-2: #4c9f41;
    --chart-3: #1b9aaa;
    --chart-4: #ed6b67;
    --chart-5: #e5496d;
    --sidebar: ;
    --sidebar-foreground: #000000;
    --sidebar-primary: #4c9f41;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #fbf6e5;
    --sidebar-accent-foreground: #000000;
    --sidebar-border: #000000;
    --sidebar-ring: #ffffff;
    --font-sans: Fira Sans, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Artifika, ui-serif, serif;
    --font-mono: JetBrains Mono, ui-monospace, monospace;
    --radius: 0.4rem;
    --shadow-x: 2px;
    --shadow-y: 2px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 1.0;
    --shadow-color: #000000;
    --shadow-2xs: 2px 2px 0px 0px hsl(0 0% 0% / 0.50);
    --shadow-xs: 2px 2px 0px 0px hsl(0 0% 0% / 0.50);
    --shadow-sm: 2px 2px 0px 0px hsl(0 0% 0% / 1.00), 2px 1px 2px -1px hsl(0 0% 0% / 1.00);
    --shadow: 2px 2px 0px 0px hsl(0 0% 0% / 1.00), 2px 1px 2px -1px hsl(0 0% 0% / 1.00);
    --shadow-md: 2px 2px 0px 0px hsl(0 0% 0% / 1.00), 2px 2px 4px -1px hsl(0 0% 0% / 1.00);
    --shadow-lg: 2px 2px 0px 0px hsl(0 0% 0% / 1.00), 2px 4px 6px -1px hsl(0 0% 0% / 1.00);
    --shadow-xl: 2px 2px 0px 0px hsl(0 0% 0% / 1.00), 2px 8px 10px -1px hsl(0 0% 0% / 1.00);
    --shadow-2xl: 2px 2px 0px 0px hsl(0 0% 0% / 2.50);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  :host.dark {
    --background: #12242e;
    --foreground: #f3e3ea;
    --card: #1c2e38;
    --card-foreground: #f3e3ea;
    --popover: #1c2e38;
    --popover-foreground: #f3e3ea;
    --primary: #fbe2a7;
    --primary-foreground: #12242e;
    --secondary: #e4a2b1;
    --secondary-foreground: #12242e;
    --muted: #24272b;
    --muted-foreground: #e4a2b1;
    --accent: #c67b96;
    --accent-foreground: #f3e3ea;
    --destructive: #e35ea4;
    --destructive-foreground: #12242e;
    --border: #324859;
    --input: #20333d;
    --ring: #50afb6;
    --chart-1: #50afb6;
    --chart-2: #e4a2b1;
    --chart-3: #c67b96;
    --chart-4: #175c6c;
    --chart-5: #24272b;
    --sidebar: #101f28;
    --sidebar-foreground: #f3f4f6;
    --sidebar-primary: #ec4899;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #f9a8d4;
    --sidebar-accent-foreground: #1f2937;
    --sidebar-border: #374151;
    --sidebar-ring: #ec4899;
    --shadow-color: #324859;
    --shadow-2xs: 2px 2px 0px 0px hsl(206.1538 28.0576% 27.2549% / 0.50);
    --shadow-xs: 2px 2px 0px 0px hsl(206.1538 28.0576% 27.2549% / 0.50);
    --shadow-sm: 2px 2px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 2px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
    --shadow: 2px 2px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 2px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
    --shadow-md: 2px 2px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 2px 2px 4px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
    --shadow-lg: 2px 2px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 2px 4px 6px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
    --shadow-xl: 2px 2px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 2px 8px 10px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
    --shadow-2xl: 2px 2px 0px 0px hsl(206.1538 28.0576% 27.2549% / 2.50);
  }

  :host,
  :host * {
    border-color: var(--border);
  }

  :host {
    background-color: var(--background);
    color: var(--foreground);
    display: block;
  }

  :host * {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
  }

  :host *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  :host *::-webkit-scrollbar-track {
    background: transparent;
  }

  :host *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }

  :host *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  :host.dark * {
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  }

  :host.dark *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
  }

  :host.dark *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
